body {
  font-family: "Ticking Timebomb BB";
  font-style: italic;
}

.text {
  font-size: 20px;
  height: 20px;
  letter-spacing: 0.1em;
}

.box2 {
  height: 10px;
  background: #ccc;
  width: 0%;
}

button {
  text-align: center;
  width: 200px;
}